
.container{
    width: 100%;
    height: 100%;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-taobao-vector-creative-technology-online-shopping-illustration-computer-finger-poster-image_131803.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.header{
    text-align: center;
    background-color: cornflowerblue;
    color: lavender;
}
.block{
    height: 60%;
    width: 60%;
    position: relative;
    left: 20%;
    margin-top: 70px;
    
    
}
.logindetails{
    list-style: none;
    text-align: center;
    padding: 30px;
    
}
.logindetails li{
    padding: 10px 0px;
    font-size: 20px;
    
}
.logindetails input{
    font-size: 20px;
    margin: 7px;
}
.footer{
    position: relative;
    top: 11%;
    background-color:cornflowerblue;
    text-align: center;
    font-size: 30px;
    color: lavender;
}
.error {
    color: red;
}
.user_name,.pwd {
    display: none;
}
