.content{
	border:1px solid;
	width: 1000px;
	height:700px;
	position:relative;
	left:100px;
	top:50px;
}
.block{
	border:1px solid;
	width: 400px;
	height: 400px;
	position:relative;
	left:500px;
	top:80px;
	background:#ccc;
}
.block1
{
	border:1px solid;
	width:130px;
	height:130px;
	position: relative;
	left: 180px;
	bottom:240px;
}
.block2{
	border:1px solid;
	width:800px;
	height:50px;
	position:relative;
	left:110px;
	bottom:380px
}
.img1{
	border:1px solid;
	width: 130px;
	height: 130px;
	position:relative;
	left:40px;
	bottom:190px;
}
.img2{
	border:1px solid;
	width: 130px;
	height: 130px;
	position:relative;
	left:190px;
	bottom:320px;
}
.img3{
	border:1px solid;
	width: 130px;
	height: 130px;
	position:relative;
	left:340px;
	bottom:450px;
}
li{
	font-size:20px;
	font-weight:bold;
	list-style:none;
}
img{
	width:130px;
	height: 130px;
}
body{
	background: url("img/two.png");
}