html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.header {
  border:2px solid;
  text-align:center;
  margin:5px;
  font-weight: bold;
  font-size: 10px;
  background: #05d3f7;
}

.actDetails,.addressDetails,.eduDetails,.urselfDetails {
	border:2px solid;
	min-height: 150px;
	margin:50px;
	
}

h2 {
	border:2px solid;
	width:200px;
	position:relative;
	bottom:40px;
	left:15px;
	background: #05d3f7;

}

input[type=text],select {
	margin:5px;
	width:150px;
}

input[type=text],select:hover{
	background: #e0d5b1;
}

.section1 {
	float:left;
	position: relative;
	bottom:40px;
}

.section2 {
	position:relative;
	left:35%;
	bottom:40px;
}

input[type=submit] {
	float: right;
	width:150px;
	font-weight: bold;
	background: #70b804;
}
.label {
	width:100px;
	font-weight: bold;
	display:inline-block;
}