.block
{
    border:1px solid;
    width:400px;
    height: 400px;
    margin:auto;
}
.block1
{
    padding:10px;
    float:left;

}
.block2
{
    border: 1px solid;
    width: 350px;
    height: 300px;
    padding: 5px;
    float:left;
    top:10px;
    left:20px;
    position: relative;
}
.block3
{
    
    top:10px;
    left:10px;
    float:center;
  

}