.block
{
    border:1px solid;
    width:500px;
    height: 500px;
    margin:auto;
    padding:10px;
}
.block1
{
    border:1px solid;
    width:490px;
    height:120px;
    padding:5px;
    position: relative;
    top:20px;
    
}
.block1a
{
    border:1px solid;
    width:490px;
    height:120px;
    padding:5px;
    position: relative;
    top:40px;
    right:0px;
    
}
.block2
{
    border:1px solid;
    width:100px;
    height:100px;
    padding:5px;
    position: relative;
}
.block3
{
    float: right;
    position: relative;
    top:-100px;
    right: 250px;
}
.block3a
{
    float: right;
    position: relative;
    top:150px;
    right: 0px;
}
