.header{
	text-align: center;
	font-size: 30px;
	background:#ccc;
	color: brown;
    margin: auto;
    position: relative;
    left: 40px;
    margin-right: 42px;
}
li{
	margin: 5px;
	padding: 10px;
	background:pink;
	color: blue;
	list-style: none;
	text-align: center;
	margin: auto;
}
.header1{
	border: 1px solid;
    background:#ccc;
	color: brown;
	height: 35px;
	text-align: center;
	margin: auto;
	position: relative;
	left: 40px;
	margin-right: 42px;
}
.GenPayslip{
	display: none;
}