.head{
	border: 2px solid;
	text-align:center;
	font-size:bold;
	margin: 2px;
	width: 98.6%;
	background:yellow;
}
.container{
	border: 2px solid;
	height: 550px;
	width: 98.5%;
	position:relative;
}
.block{
	border: 2px solid;
	height:250px;
	width: 500px;
	margin:10px;
}
.block1{
	position:absolute;
	top: 2px;
	right:2px;
}
.block2{
	position: absolute;
	top: 265px;
	right: 2px;
}
.imgblock{
	border: 2px solid;
	height:100px;
	width:100px;
	margin: 2px;
	background-image:url(images/lap.jpg);
	background-size:150px;
}
.im1{
	background-position:-23px 10px;
}
.im2{
	background-position:-30px -82px;
}
.im3{
	background-position:-23px -165px;
}
.im4{
	background-position:-31px -245px;
}
.writeblock{
	float:right;
	position: absolute;
	left: 8%;
}
.writeblockr1{
	float:right;
	position: absolute;
	right:40%;
}