*{
    margin: 0;
    padding:0;
}

html{
    font-size:62.5%;
}


/* ----------------------header-style----------------------- */

.header-container{
    background-color: black;
    color:white;
    width:100%;
    padding:2rem; 
}

.navigation-bar{
    display:flex;
    width:90%;
    flex: 1 1 20rem;
    align-items: center;
    flex-wrap: wrap;
}

#logo{
    flex: 1 1 20rem;
     letter-spacing: .1rem;
    font-family: 'Great Vibes', cursive;
    font-size: 2.6rem;
    font-weight: 100;
}

#logo1{
    font-family: 'Alex Brush', cursive;
}

.nav-element-container{
    display:flex;
    flex: 1 1 20rem;
    list-style: none;
    font-size: 1.5rem;
    justify-content: space-evenly;
    
    
}

.nav-element-container a{
    color:white;
    /* margin-left:8rem;  */
    text-decoration: none;
    
}

/* 
.nav-element-container ul {
    display: none;
}

.navigation-bar ul li:hover > ul{
   color:grey;
    display:block;
} */

/* 
.design-list{
    display:none;
} */


.dropdown{
    position: relative;
}

.dropdown-list{
    position: absolute;
    background-color:lightgray;
    width:10rem;
    /* opacity: 0.5; */
    color:black;
    top:90%;
    visibility: hidden;
    padding:1.6rem;
}

.dropdown:hover .dropdown-list
{
    visibility: visible;
}

.dropdown-list ul{
    list-style: none;
}


/* ----------------------end of header-style------------------ */





/* -------------------About us----------------------- */

.about-us{
    min-height: 85vh;
    background-color: beige;
}


.about-us-container{
    display: flex;
    /* flex: 1 1 20rem; */
}

.about-us-content{
    flex:1 1 20rem;
}

.about-us-image{
    display: flex;
    flex:1 1 20rem;
    margin-top: 4rem;
    justify-content: center;
   
}

.about-us-image img{
    /* border-radius: 5px 10px 15px 20px; */
    /* border-radius: 100%; */
    width:40rem;
    box-shadow: 5px 10px 8px  #888888;
}


.about-us-content h1{
    font-size:6rem;
    margin:2rem;
}

.about-us-content h2{
    /* margin: 4rem 8rem; */
    margin-bottom:4rem;
    margin-top: 4rem;
    text-align: center;
    font-family: 'Niconne', cursive;
    font-size: 4rem ;
    font-weight: 300;
    letter-spacing:.1rem
}

.about-us-content p{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    
}
/* -------------------end of About us----------------- */