body {
    background-image: url(../image/fp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mail {
    position: absolute;
    left: 40%;
    top: 35%;
}

.resetpassword {
    position: absolute;
    left: 49%;
    top: 42%;
}