body {
	background-image: url(file:///G:/project/image/1_iAu65xDmvpVdBJgps6EDEw.png);
	font-family: Arial;
	background-size:  center;
	font-size: 15px;
}
h2 {
	text-align: center;
}
.container{
	height: 530px;
	width: 520px;
	border:1px solid;
	position: absolute;
	margin: 20px;
	padding: 10px; 
	position: absolute;
	left: 430px;
	top: 30px;
	border-radius: 20px;
	background-color: rgb(190, 175, 0);
	border: none;
}
#uname {
	height: 30px;
	width: 250px;
	border-radius: 10px;
	border: none;
	margin-left:  55px;
}
#lname {
	height: 30px;
	width: 250px;
	border-radius: 10px;
	margin-left: 55px;
	margin-top: 20px;
	border: none;

}
#email{
	height: 30px;
	width: 250px;
	margin-left: 95px;
	margin-top:25px;
	border: none;
	border-radius: 10px;
}
#uname1 {
	height: 30px;
	width: 250px;
	margin-left: 55px;
	margin-top: 30px;
	border: none;
	border-radius: 10px;
}
#pwd {
	height: 30px;
	width: 250px;
	margin-left: 70px;
	margin-top: 30px;
	border-radius: 10px;
	border: none;
}
#cpwd {
	height: 30px;
	width: 250px;
	border-radius: 10px;
	border: none;
	margin-top: 30px;
	margin-left: 10px;
}
input[type=button] {
	height: 30px;
	width: 220px;
	border-radius: 10px;
	border:none;
	margin-left: 150px;
	margin-top: 40px;
	background-color: #ccc;
}
#login {
	position: absolute;
	bottom: 30px;
	left: 80px;
}