#container{
	border : 1px solid;
	position: absolute;
	top: 50px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #ccc;
	overflow: auto; 
}
.block{
	border : 1px solid;
	width: 250px;
	margin : 5px;
	padding : 5px;
	float : left;
}
img{
	width: 120px;
	height: 120px;
}
li {
	list-style: none;
	border :1px solid;
	margin: 3px;
	padding: 3px;
	background: #fff;
}