.prodImg {
	border: 1px solid;
	width: 150px;
	height: 150px;
}
li {
	list-style: none;
	border: 1px solid; background: #ccc;
	padding: 5px;
	margin: 10px;
}
.details {
	border: 1px solid;
	width: 350px;
	padding: 5px;
	margin: 5px;
	float: left;
}
.header {
	border: 1px solid;
	margin: 10px;
	padding: 10px;
	text-align: center;
	text-decoration: underline;
	color: blue;
	font-size: 20px;
	font-weight: bold;
}