header{
      height:120px;
      background-color: #000080;
      overflow:auto;
      }  

.foot{
	height:60px;
    background-color: #000080;
    text-align:center;
    color:white;
    width:1352px;
	position:absolute;
	bottom:1%;
    }

#subBtn{
  background-color:tomato;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}    