body{
    background-color:greenyellow;
}
p{
    text-align: center;
    color: darkblue;
    text-decoration: springgreen;
    text-transform: capitalize;
    text-overflow: ellipsis;
    font-size: 30px;
    
}