         h2 {
				text-align:center;
			}

			ul {
				border:2px solid;
				margin:15px;
				padding:5px;

			}

			li {
				list-style: none;
				padding:10px;
				line-height: 5px;
				margin:auto;
			}
			
			input, select {
				padding:5px;
				margin:10px;
			}

			.payslipGenerate {
				display: none;
			}