

body{
    margin: 0%;
    /* padding:0%; */
    background-color: lightgray;
}


h1{
    padding:30px;
    background-color: #333;
    font-weight: bolder;
    color:white;
    text-align: center;
    letter-spacing: 1.5px;
    margin-left: 18px;
    margin-right: 18px;
}

.student{
    display:block;
    border: 5px solid black;
    padding:20px;
    margin: 20px;
    background-color: #f4f4f4;
}


.student p{
    font-size: 20px;
}

.student p span{
    font-weight: bold;
    font-size:25px;
}