<div id="loginTmplt">
    <div class="loginBlock">
        <ul>
            <li>
                <div class="subtitle">
                    User Login
                </div>
            </li>
            <li>
                User Name: <input type="text" name="" id="uid">
            </li>
            <li>
                Account Password <input type="password" id="upwd">
            </li>
            <li>
                <input type="button" value="Login" class="btn btn-primary btn-lg" onclick="validateDetails()">
            </li>
            <li>
                <div class="link" onclick="loadPage('newsignup')">
                    New Signup?
                </div>
                <di class="link" onclick="loadPage('fgpwd')">
                    Forgot Password
                </div>
            </li>
            <li class="invalidErr">
                Invalid Credentials
            </li>
        </ul>
    </div>
</div>