<div id="loginTmplt">
    <div class="loginBlock">
        <ul>
            <li>
                <div class="subtitle">
                    User Login
                </div>
            </li>
            <li>
                User Name: <input type="text" name="">
            </li>
            <li>
                Account Password <input type="password">
            </li>
            <li>
                <input type="button" value="Login" class="btn btn-primary btn-lg">
            </li>
            <li>
                <div class="link" onclick="loadPage('newsignup')">
                    New Signup?
                </div>
                <di class="link" onclick="loadPage('fgpwd')">
                    Forgot Password
                </div>
            </li>
        </ul>
    </div>
</div>