
		<div id="signupTmplt">
			<div class="newSignup">
				<ul>
					<li>
						<div class="subtitle">
							New Signup
						</div>
					</li>
					<li>
						User name:
						<input type="text">
					</li>
					<li>
						Password:
						<input type="password" name="">
					</li>
					<li>
						ReEnter PAssword:
						<input type="password">
					</li>
					<li>
						Address: <textarea></textarea>
					</li>
					<li>
						Country: <select>
							<option>India</option>
						</select>
					</li>
					<li>
						<input type="button" value="Register" class="btn btn-primary btn-lg">
					</li>
				</ul>
			</div>
		</div>