.header{
    border: 1px solid;
    text-align: center;
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    background:black;
    color: red;
}
li{
    list-style: none;
	background: pink;
	padding: 8px;
}
.details{
	border: 1px solid;
	color:#1400c8;
	width: 340px;
	height: 150px;
	padding: 5px;
	margin: 5px;
}
img{
	height: 150px;
	width: 185px;
	padding: 5px;
	position: relative;
	float: right;
	bottom: 152px;
	left: 5px;
}