#menMain{
	width: 350px;
	height: 350px;
	border: solid 2px;
	position: absolute;
	top: 20px;
	left: 80px;
}
#womenMain{
	width: 350px;
	height: 350px;
	border: solid 2px;
	position: absolute;
	top: 20px;
	left: 480px;
}
#kidsMain{
	width: 350px;
	height: 350px;
	border: solid 2px;
	position: absolute;
	top: 20px;
	left: 890px;
}
#menSub{
	width: 1320px;
	height: 220px;
	border: solid 2px;
	position: absolute;
	top: 390px;
	left: 20px;
}
#womenSub{
	width: 1320px;
	height: 220px;
	border: solid 2px;
	position: absolute;
	top: 640px;
	left: 20px;
}
#kidsSub{
	width: 1320px;
	height: 220px;
	border: solid 2px;
	position: absolute;
	top: 890px;
	left: 20px;
}
img{
	height: 110px;
	width: 100px;
	border: solid 1px;
}