.container {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	top: 10px;
	background: #ccc;
	overflow: auto;
}
ul {
	border: 1p solid;
	background: #fff;
	width: 300px;
	margin: 5px;
	padding: 5px;
	float: left;
}
li {
	list-style: none;
	border: 1px solid;
	background: #ccc;
	padding: 5px;
	margin: 5px;
}
img {
	width: 160px;
	height: 160px;
}
.title {
	color: green;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 5px;
	padding: 10px;
	background: #fff;
}

.errBlock {
	color: red;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	display: none;
}

.loadingBlock img {
	width: 250px;

}

.loadingBlock {
	position: absolute;
	left: 40%;
	top: 30%;
	display: none;
}