body{
	margin: 0;
	background-image: url(../images/flip.png);
	background-repeat: no-repeat;
	background-size:100%;
}
.header{
	overflow: hidden;
	text-align:center;
	background-color:#8A2BEF;
	font-size: 20px;
	font-family:cursive;
	height: 40px;
	overflow: hidden;
}
.body{
	height:625px;
}
.logoimg{
	width:40px;
	height:35px;
	float: left;
	margin: 2px;
	background-size:75px;
	background-image: url(../images/f.jpg);
	background-position: -19px -14px;
}
.bigcontainer{
	border: 2px solid;
	width: 25%;
	height: 45%;
	text-align: center;
	cursor: pointer;
	background-color:yellow;
	font-size: 20px;

}
#item{
	list-style: none;
}
.pcontainer , .contain2 , .contain3 , .contain4 , .contain5, .contain6{
	border:1px solid;
	width:270px;
	height: 190px;
	position: absolute;
	top:12%;
	left:27%;
	background-image:url(../images/pb.webp);
}
.imgblock{
	border: 2px solid;
	height:100px;
	width:100px;
	margin: 2px;
	background-image:url(../images/lap.jpg);
	background-size:150px;
}
.im1{
	background-position:-23px 10px;
}
.writeblock{
	float:right;
    position: absolute;
	left: 30%;
}
.contain2{
    position: absolute;
    top: 12%;
    left:50%;
}
.im2{
	background-position:-28px -78px;
}
.contain3{
	position: absolute;
	top: 12%;
	left: 75%;
}
.im3{
	background-position:-28px -167px;
}
.viewall{	
    position: absolute;
	top:40%;
    left:30%;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    font-size: 32px;
   
}
.contain4{
    position: absolute;
    top: 50%;
    left:27%;
 }
 .imgblock2{
	border: 2px solid;
	height:100px;
	width:100px;
	margin: 2px;
	background-image:url(../images/men.jpg);
	background-size:300px;
}
.imm1{
	background-position:-5px -388px;
}
.contain5{
	position: absolute;
	top: 50%;
	left: 50%;
}
.imm2{
	background-position:-105px -388px;
}
.contain6{
	position: absolute;
	top: 50%;
	left:75%;
}
.imm3{
	background-position:-207px -388px;
}
.viewall2{	
    position: absolute;
	top:80%;
    left:30%;
    font-size:32px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}