.body
{
    background-image:"https://source.unsplash.com/200x110/?nature,water";
  

}
.form
    {
            margin: 0 auto;
            text-align: center;
            border:1px solid;
            width: 400px;
            height: 250px;
            padding: 20px;

    }