.container {
	border: 2px solid;
	background: #ccc;
	width: 80%;
	margin: 20px auto;
	padding: 20px;
}

li {
	list-style: none;
	border: 1px solid;
	margin: 10px;
	padding: 10px;
}

.marks input {
	width: 30px;
}

.pCard {
	background: yellow;
	display: none;
}