body {
    background: darkslateblue;
}

.imgBox {
    background-image: url(../img/img.jpg);
    position: relative;
    top: 8px;
    left: 8px;
    height: 135px;
    width: 135px;
    cursor: pointer;
}

.whiteBox {
    display: inline-block;
    height: 155px;
    width: 155px;
    margin: 11px;
    background-color: white;
    border: 4px solid rgb(18, 18, 19);
}

.hold {
    border: 4px solid red;
}

.dashed {
    background: violet;
    border-style: dashed;
}

.hide {
    display: none;
}