.container{
	height: 600px;
	width: 800px;
	border: solid 2px;
	background-color: pink;
	position: absolute;
	left: 280px;
}
#nameLabel{
	position: absolute;
	left: 200px;
	top : 150px;
}
#nameValue{
	position: absolute;
	left: 400px;
	top:150px;
}
#ageLabel{
	position: absolute;
	left: 200px;
	top: 200px;
}
#ageValue{
	position: absolute;
	left: 400px;
	top: 200px;
}
#countryLabel{
	position: absolute;
	left: 200px;
	top: 250px;
}
#stdCountry{
	position: absolute;
	left: 400px;
	top: 250px;
}
#stateLabel{
	position: absolute;
	left: 200px;
	top: 300px;
}
#stateList{
	position: absolute;
	left: 400px;
	top: 300px;
}
#cityLabel{
	position: absolute;
	left: 200px;
	top: 350px;
}
#cityList{
	position: absolute;
	left: 400px;
	top: 350px;
}