html
	head
		title
			| Server generated ui
		link(href="abc.css")
	body
		b
			| about to show employee details..
		ul(id="sample" class="test")
			li 
				| Employee name: #{empname}
			li
				| Employee Age : #{age}
			li
				| Employee Gender: #{gender}
			li
				| Employee Location #{location}
