body {
    border: 2px solid red;
    background-image: url(../img/img0.jpg);
}

.header {
    border: 4px solid black;
    background-color: silver;
    color: red;
    float: left;
    width: 1250px;
    height: 20px;
    margin: 9px;
    padding: 8px;
    text-align: center;
    font-size: 2vmax;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}


/* git form*/

.git {
    margin: 10px;
    width: 1024px;
    height: 180px;
}

.location {
    float: left;
    position: absolute;
    right: 30%;
    top: 20%;
}

.account {
    float: left;
    position: absolute;
    right: 30%;
    top: 25%;
}

.password {
    float: left;
    position: absolute;
    right: 30%;
    top: 30%;
}


/* Address Details*/

.address {
    margin: 10px;
    width: 1024px;
    height: 180px;
}

.addressdetails {
    float: left;
    position: absolute;
    right: 35%;
    bottom: 40%;
}


/* Education Details*/

.education {
    margin: 10px;
    width: 1024px;
    height: 100px;
}

.lang {
    float: right;
    position: absolute;
    left: 10%;
    top: 90%;
}

.qualification {
    float: right;
    position: absolute;
    left: 10%;
    top: 95%;
}


/* ABOUT YOURSELF */

.summary {
    margin: 10px;
    width: 1024px;
    height: 100px;
}


/* Submit */

.submit {
    padding: 19px;
}