summary{
	margin: 5px;
	padding: 5px;
	border: solid 1px;
	text-underline-position: none;
	text-decoration: red;
	background-color: #ffecb3;
}

#loginButton, #m_cate_1, #m_cate_2{
	background-color: #ffecb3;
	height: 20px;
	width: 150px; 
	border: none;
	font-size: 18px;
	text-align: left;
	font-family: "Times New Roman";
}
.sideMenu{
	position: absolute;
	left: 10px;
	top: 50px;
	height: content;
	width: 250px;
	border: solid 2px;
}
#content{
	position: absolute;
	top: 50px;
	left: 290px;
	border: solid 2px;
	height: 670px;
	width: 1030px;
	display: none;
	/*flex-wrap: nowrap;*/
}
#innerContent{
	display: flex;
	flex-wrap: wrap;
}
#men_cate2_content{
	position: absolute;
	top: 50px;
	left: 290px;
	border: solid 2px;
	height: 670px;
	width: 1030px;
	display: none;
}
#men_cate2_innerContent{
	display: flex;
	flex-wrap: wrap;
}
.homeContainer{
	background-image: url("https://i.ytimg.com/vi/TyauNrbnmVo/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#m_cate_1{
	text-decoration: none;
}
.itemLinkContainer{
	position: absolute;
	bottom: 200px;
	right: 120px;
}
/*#w_iframe{
	height: 665px;
	width: 1029px
}
#menContainer{
	height: 665px;
	width: 1029px;
	border: solid 1px;
	position: absolute;
	top: 50px;
	left: 350px;
}*/
/*#womenContainer{
	height: 400px;
	width: 400px;
	border: solid 1px;
	position: absolute;
	top: 300px;
	left: 850px;
}*/
.tittle{
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 35px;
	text-shadow: 2px 2px red;
	/*border: solid 2px;  */
	background-color: #ffebcc; 
}
/*#offerPercentage{
	position: absolute;
	top: 190px;
	left: 890px;
}
#offerPercentage{
	font-size: 70px;
	text-shadow: 2px 2px red;
}
#offerRange{
	font-size: 20px;
	position: absolute;
	left: 830px;
	top: 200px;
	text-shadow: 1px 1px red;
}
#get{
	font-size: 40px;
	position: absolute;
	left: 750px;
	top: 180px;
	text-shadow: 1px 1px red;
}
#sale{
	font-size: 100px;
	position: absolute;
	top: 90px;
	left: 370px;
	text-shadow: 3px 3px red;
}
#sale1{
	font-size: 60px;
	position: absolute;
	top: 160px;
	left: 590px;
	text-shadow: 2px 2px red;
}
#off{
	position: absolute;
	top: 220px;
	left: 1050px;
	font-size: 50px;
	text-shadow: 1px 1px red;
}
<div id = "offer">
			<span id = "sale">Sale</span>
			<span id = "sale1">Sale</span>
			<span id = "offerPercentage">50%</span>
			<span id = "offerRange">upto</span>
			<span id = "get">get</span>
			<span id = "off">Off</span>
		</div>
		*/
.search{
	position: absolute;
	top: 10px;
	left: 500px;
}
.searchInput{
	height: 20px;
	width: 250px;
	background-color: #ffebcc;
}
.searchText{
	position: absolute;
	top: 4px;
	left: 300px;
	font-size: 20px;
}
#men_shirts{
	position: absolute;
	top: 350px;
	left: 150px;
}
.itemContainer{
	/*border: solid 1px;*/
	margin: 8px;
	padding: 2px;
}
.heading{
	text-align: center;
	font-family: "Times New Roman";
	font-size: 60px;
	text-shadow: 1px 1px red;	
}
.cartImg{
	width: 50px;
	height: 40px;
}
#cart{
	position: absolute;
	top: 5px;
	right: 10px;
}
#login{
	position: absolute;
	top: 10px;
	right: 70px;
}
#loginButton{
	height: 30px;
	width: 100px;
	text-align: center;
	/*background-color: ;*/
	border-radius: 1px 1px 1px 1px;
}