.homeContainer{
	display: none;
}
.loginPageContainer{
	height: 450px;
	width: 450px;
	border: solid 2px;
	border-radius: 0px 100px 0px 100px;
	box-shadow: 20px 20px green;
	background-color: #FFD0A6;
	position: absolute;
	top: 200px;
	left: 450px;
	/*#c4723b*/
}
button{
	
}
h2{
	text-align: center;
}
.nameLabel{
	position: absolute;
	top: 100px;
	left: 90px;
}
.nameValue{
	position: absolute;
	top: 100px;
	left: 200px;
}
.passwordLabel{
	position: absolute;
	top: 150px;
	left: 90px;
}
.passwordValue{
	position: absolute;
	top: 150px;
	left: 200px;
}
.loginButton{
	position: absolute;
	top: 220px;
	left: 180px;
}
#uLogin{
	height: 30px;
	width: 120px;
	background-color: green;
}
body{
	background-image: url("https://i.ytimg.com/vi/TyauNrbnmVo/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*https://wallpaperaccess.com/full/1496345.jpg
	/*https://i.pinimg.com/originals/90/c1/83/90c18300d9e187629336070e1b3bbda1.jpg*/
	/*https://images.unsplash.com/photo-1542281286-9e0a16bb7366?ixlib=rb-1.2.1&w=1000&q=80*/
}
.rememberMe{
	position: absolute;
	top: 280px;
	left: 90px;
}
.fogotPassword{
	position: absolute;
	top: 280px;
	left: 250px;
}
.signUp{
	position: absolute;
	top: 320px;
	left: 120px;
}
.signUpLink{
	position: absolute;
	top: 360px;
	left: 180px;
}
#loginHeading{
	position: absolute;
	top: 5px;
	left: 320px;
	font-size: 60px;
	/*font-style: italic;*/
	text-shadow: 2px 2px red;
}