/*#item1_image{
	position: absolute;
	top: 50px;
	left: 270px;
}*/

#cart{
	position: absolute;
	top: 1px;
	right: 3px;
}
#login{
	position: absolute;
	top: 12px;
	right: 70px;
}
#loginButton{
	height: 30px;
	width: 100px;
	text-align: center;
	/*background-color: ;*/
	border-radius: 1px 1px 1px 1px;
}
.tittle{
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 35px;
	text-shadow: 2px 2px red;
	/*border: solid 2px;  */
	background-color: #ffebcc; 
}
#item1_image{
	height: 670px;
	width: 1050px;
	border: solid 2px;
}