.container{
	height: 150px;
	width: 400px;
	position: absolute;
	top: 250px;
	left: 450px;
	border: solid 2px;
	border-radius: 10px 10px 10px 10px;
	background-color: #FFD0A6;
}
body{
	background-image: url("https://i.pinimg.com/originals/69/7e/d3/697ed377df85fbc63ed7ac69c8d796d4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
button{
	background-color: green;
	height: 30px;
	width: 100px;
}
.emailIdLabel{
	position: absolute;
	top: 40px;
	left: 50px;
}
.emailIdValue{
	position: absolute;
	top: 40px;
	left: 150px;
}
.submitDetails{
	position: absolute;
	top: 80px;
	left: 120px;
}