li {
    list-style: none;
    border: 1px solid;
    margin: 5px;
    padding: 5px;
    background-color: #ccc;
}
ul {
    width: 500px;
    margin: 50px auto;
}

.title  {
    color: green;
    text-align: center;
    text-decoration: underline;
}