.loginBlock {
	border: 2px solid;
	border-radius: 10px;
	background: #ccc;
	width: 400px;
	height: 400px;
	margin: 15px auto;
}

.invalidErr {
	color: red;
	font-size: 13px;
	text-align: center;
	display: none;
}