.loginBox{
	width: 320px;
	height: 400px;
	color: #000;
	top: 23%;
	left: 38%;
	background: black;
	position: absolute;
	padding: 60px 30px;
	box-sizing: border-box;
}

.loginBox .avatar {
	width: 80px;
	height: 80px;
	margin-left: 27%;
	position: absolute;
	border: none;
	border-radius: 50px;
	top: -50px;
}

.loginBox h2{
	color: #fb2525;
	margin: 0;
	padding: 0 0 40px;
	text-align: center;
	margin-top: -10px;
	font-size: 22px;
}

.loginBox p{
	color: #fff;
	padding: 0;
	font-size: 20px;
	margin: 0;
	font-weight: bold;
}

.loginBox input[type="text"], input[type="password"]{
	width: 100%;
	margin-bottom: 20px;
}

.loginBox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #fff;
	font-size: 15px;
}

.loginBox input[type="submit"]{
	border: none;
	outline: none;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 10px;
	height: 30px;
	background: #fb2525;
	color: #fff;
	font-size: 15px;
	border-radius: 20px;
}

.loginBox input[type="submit"]:hover{
	cursor: pointer;
}

.loginBox .link {
	font-size: 14px;
	line-height: 25px;
	color: #51c0f3;
	cursor: pointer;
	text-align: center;
}

.loginBox .link:hover{
	text-decoration: underline;
}

.uidError, .upwdError{
	display: none;
}

.error{
	color: red;
	font-size: 15px;
	margin-top: -10px;

}

.loginBox .fa{
	font-size: 20px;
	color: #ccc;
	position: absolute;
	left: 83%;
	bottom: 41.5%; 
}

.mask{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(0,0,0,0.7);
	display: none;
}

.popup {
	position: absolute;
	left: 38.5%;
	top: 40%; 
	background-color: #fff;
	color: #5f5858;
	font-family: verdana;
	font-size: 15px;
	width: 300px;
	text-align: center;
	height: 130px;
	margin: 5px;
	display: none;
}

.popup input[type = "button"] {
	margin-left: 60%;
	margin-top: 10%;
	color: #fff;
	background: #59b5de;
	width: 40px;
	border: none; 
	height: 25px;
}

.popup input[type = "button"]:hover {
	cursor: pointer;
	background: #08b0fb;
}
