
li{
	border: 2px solid #f1f105;
	list-style: none;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}
.details{
	border: 1px solid;
	margin: 10px;
	padding: 5px;
	float: left;
	color: #f1f105;
	background: blue;
	
}
img{
	width: 150px;
	height: 150px;
	margin-left: 50px;
}