.SignUpBox {
	width: 320px;
	height: 430px;
	color: #000;
	top: 26%;
	left: 38%;
	background: black;
	position: absolute;
	padding: 90px 30px;
	box-sizing: border-box;
}

.SignUpBox .avatar {
	width: 80px;
	height: 80px;
	margin-left: 28%;
	position: absolute;
	border: none;
	border-radius: 50px;
	top: -50px;
}

.SignUpBox h2{
	color: #fb2525;
	padding: 0 0 5px;
	margin-top: -15%;
	margin-left: 30%;
	position: absolute;
	text-align: center;
	font-size: 22px;
}

.SignUpBox .link {
	font-size: 14px;
	line-height: 25px;
	color: #51c0f3;
	cursor: pointer;
	text-align: center;
}

.SignUpBox .link:hover{
	text-decoration: underline;
}

.SignUpBox input{
	width: 100%;
	margin-bottom: 20px;
}

.SignUpBox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 23px;
	color: #fff;
	font-size: 15px;
}

.SignUpBox input[type="submit"]{
	border: none;
	outline: none;
	height: 30px;
	margin-top: 15px;
	background: #fb2525;
	color: #fff;
	font-size: 15px;
	border-radius: 20px;
}

.SignUpBox input[type="submit"]:hover{
	cursor: pointer;
}

.error{
	color: red;
	font-size: 15px;
	margin-top: -15px;
}

.unameError, .upwdError, .repwdError, .unumError, .mailIdError {
	display: none;
}

.fa{
	font-size: 20px;
	color: #ccc;
	position: absolute;
	left: 83%;
	bottom: 63.5%; 
}

.gotoLogin {
	display: none;
}

